@charset "UTF-8";

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.perguntas {
    font-size: xx-large;
}

.txt {
    font-size: x-large;
    margin-top: -30px;
}

#prox-perg {
    display: none;
}

#respostas {
    background-color: rgb(104, 104, 104);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 30vh;
    transform: translateY(1em);
    
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;

    border-radius: 10px;
    border: none;

    background-color: rgb(0, 132, 255);
    color: white;
    justify-self: center;
    
    padding: 10px;
    transition: .2s;
    width: 500px;
    height: 60px;
    margin: auto;
    
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 112, 216);
    transform: scale(1.1);
}

button:active {
    transform: scale(.95);
}

#barra-progresso {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.quadrado {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.quadrado.correto {
    background-color: green;
}

.quadrado.errado {
    background-color: red;
}


